In [53]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import tensorflow as tf
from tensorflow import keras

In [54]:
eno = pd.read_csv('ENO_Date_CSV.csv')
eno

,Unnamed: 0,bathrooms,bedrooms,building_id,created,description,display_address,features,latitude,listing_id,longitude,manager_id,photos,price,street_address,interest_level,month
0,0,1.0,1,8579a0b0d54db803821a35a4a615e97a,2016-06-16 05:55:27,Spacious 1 Bedroom 1 Bathroom in Williamsburg!...,145 Borinquen Place,"['Dining Room', 'Pre-War', 'Laundry in Buildin...",40.7108,7170325,-73.9539,a10db4590843d78c784171a107bdacb4,['https://photos.renthop.com/2/7170325_3bb5ac8...,2400,145 Borinquen Place,medium,6
1,1,1.0,2,b8e75fc949a6cd8225b455648a951712,2016-06-01 05:44:33,BRAND NEW GUT RENOVATED TRUE 2 BEDROOMFind you...,East 44th,"['Doorman', 'Elevator', 'Laundry in Building',...",40.7513,7092344,-73.9722,955db33477af4f40004820b4aed804a0,['https://photos.renthop.com/2/7092344_7663c19...,3800,230 East 44th,low,6
2,2,1.0,2,cd759a988b8f23924b5a2058d5ab2b49,2016-06-14 15:19:59,**FLEX 2 BEDROOM WITH FULL PRESSURIZED WALL**L...,East 56th Street,"['Doorman', 'Elevator', 'Laundry in Building',...",40.7575,7158677,-73.9625,c8b10a317b766204f08e613cef4ce7a0,['https://photos.renthop.com/2/7158677_c897a13...,3495,405 East 56th Street,medium,6
3,3,1.5,3,53a5b119ba8f7b61d4e010512e0dfc85,2016-06-24 07:54:24,A Brand New 3 Bedroom 1.5 bath ApartmentEnjoy ...,Metropolitan Avenue,[],40.7145,7211212,-73.9425,5ba989232d0489da1b5f2c45f6688adc,['https://photos.renthop.com/2/7211212_1ed4542...,3000,792 Metropolitan Avenue,medium,6
4,4,1.0,0,bfb9405149bfff42a92980b594c28234,2016-06-28 03:50:23,Over-sized Studio w abundant closets. Availabl...,East 34th Street,"['Doorman', 'Elevator', 'Fitness Center', 'Lau...",40.7439,7225292,-73.9743,2c3b41f588fbb5234d8a1e885a436cfa,['https://photos.renthop.com/2/7225292_901f198...,2795,340 East 34th Street,low,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49347,49347,1.0,3,92bbbf38baadfde0576fc496bd41749c,2016-04-05 03:58:33,There is 700 square feet of recently renovated...,W 171 Street,"['Elevator', 'Dishwasher', 'Hardwood Floors']",40.8433,6824800,-73.9396,a61e21da3ba18c7a3d54cfdcc247e1f8,['https://photos.renthop.com/2/6824800_0682be1...,2800,620 W 171 Street,low,4
49348,49348,1.0,2,5565db9b7cba3603834c4aa6f2950960,2016-04-02 02:25:31,"2 bedroom apartment with updated kitchen, rece...",Broadway,"['Common Outdoor Space', 'Cats Allowed', 'Dogs...",40.8198,6813268,-73.9578,8f90e5e10e8a2d7cf997f016d89230eb,['https://photos.renthop.com/2/6813268_1e6fcc3...,2395,3333 Broadway,medium,4
49349,49349,1.0,1,67997a128056ee1ed7d046bbb856e3c7,2016-04-26 05:42:03,No Brokers Fee * Never Lived 1 Bedroom 1 Bathr...,210 Brighton 15th St,"['Dining Room', 'Elevator', 'Pre-War', 'Laundr...",40.5765,6927093,-73.9554,a10db4590843d78c784171a107bdacb4,['https://photos.renthop.com/2/6927093_93a5210...,1850,210 Brighton 15th St,medium,4
49350,49350,1.0,2,3c0574a740154806c18bdf1fddd3d966,2016-04-19 02:47:33,Wonderful Bright Chelsea 2 Bedroom apartment o...,West 21st Street,"['Pre-War', 'Laundry in Unit', 'Dishwasher', '...",40.7448,6892816,-74.0017,c3cd45f4381ac371507090e9ffabea80,['https://photos.renthop.com/2/6892816_1a8d087...,4195,350 West 21st Street,medium,4
49351,49351,1.0,3,d89f514c3ed0abaae52cba7017ac0701,2016-04-20 05:34:00,***PRIME MIDTOWN EAST OFF PARK AVE***TRUE 3 BE...,E 54th St,"['Dining Room', 'Elevator', 'Laundry in Buildi...",40.7594,6901023,-73.9712,e90f2ded843cdb2efd65ef47d9fc8029,['https://photos.renthop.com/2/6901023_02052d9...,4280,123 E 54th St,high,4

In [55]:
yu = pd.read_csv('yuyichen.csv')
yu

,Unnamed: 0,Unnamed: 0.1,bathrooms,bedrooms,building_id,created,description,display_address,features,latitude,listing_id,longitude,manager_id,photos,price,street_address,interest_level,block
0,0,4,1.0,1,8579a0b0d54db803821a35a4a615e97a,2016-06-16 05:55:27,Spacious 1 Bedroom 1 Bathroom in Williamsburg!...,145 Borinquen Place,"['Dining Room', 'Pre-War', 'Laundry in Buildin...",40.7108,7170325,-73.9539,a10db4590843d78c784171a107bdacb4,['https://photos.renthop.com/2/7170325_3bb5ac8...,2400,145 Borinquen Place,medium,Brooklyn
1,1,6,1.0,2,b8e75fc949a6cd8225b455648a951712,2016-06-01 05:44:33,BRAND NEW GUT RENOVATED TRUE 2 BEDROOMFind you...,East 44th,"['Doorman', 'Elevator', 'Laundry in Building',...",40.7513,7092344,-73.9722,955db33477af4f40004820b4aed804a0,['https://photos.renthop.com/2/7092344_7663c19...,3800,230 East 44th,low,Manhattan
2,2,9,1.0,2,cd759a988b8f23924b5a2058d5ab2b49,2016-06-14 15:19:59,**FLEX 2 BEDROOM WITH FULL PRESSURIZED WALL**L...,East 56th Street,"['Doorman', 'Elevator', 'Laundry in Building',...",40.7575,7158677,-73.9625,c8b10a317b766204f08e613cef4ce7a0,['https://photos.renthop.com/2/7158677_c897a13...,3495,405 East 56th Street,medium,Manhattan
3,3,10,1.5,3,53a5b119ba8f7b61d4e010512e0dfc85,2016-06-24 07:54:24,A Brand New 3 Bedroom 1.5 bath ApartmentEnjoy ...,Metropolitan Avenue,[],40.7145,7211212,-73.9425,5ba989232d0489da1b5f2c45f6688adc,['https://photos.renthop.com/2/7211212_1ed4542...,3000,792 Metropolitan Avenue,medium,Brooklyn
4,4,15,1.0,0,bfb9405149bfff42a92980b594c28234,2016-06-28 03:50:23,Over-sized Studio w abundant closets. Availabl...,East 34th Street,"['Doorman', 'Elevator', 'Fitness Center', 'Lau...",40.7439,7225292,-73.9743,2c3b41f588fbb5234d8a1e885a436cfa,['https://photos.renthop.com/2/7225292_901f198...,2795,340 East 34th Street,low,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49222,49346,123998,1.0,0,0,2016-04-02 01:29:32,This studio apartment is located in Hell's Kit...,West 49th Street,"['Fireplace', 'Pre-War', 'Dogs Allowed', 'Cats...",40.7640,6812513,-73.9917,8b53ccf4338806ab1be3dd0267711649,['https://photos.renthop.com/2/6812513_ff385b2...,2175,465 West 49th Street,low,Manhattan
49223,49347,124000,1.0,3,92bbbf38baadfde0576fc496bd41749c,2016-04-05 03:58:33,There is 700 square feet of recently renovated...,W 171 Street,"['Elevator', 'Dishwasher', 'Hardwood Floors']",40.8433,6824800,-73.9396,a61e21da3ba18c7a3d54cfdcc247e1f8,['https://photos.renthop.com/2/6824800_0682be1...,2800,620 W 171 Street,low,Manhattan
49224,49348,124002,1.0,2,5565db9b7cba3603834c4aa6f2950960,2016-04-02 02:25:31,"2 bedroom apartment with updated kitchen, rece...",Broadway,"['Common Outdoor Space', 'Cats Allowed', 'Dogs...",40.8198,6813268,-73.9578,8f90e5e10e8a2d7cf997f016d89230eb,['https://photos.renthop.com/2/6813268_1e6fcc3...,2395,3333 Broadway,medium,Manhattan
49225,49349,124004,1.0,1,67997a128056ee1ed7d046bbb856e3c7,2016-04-26 05:42:03,No Brokers Fee * Never Lived 1 Bedroom 1 Bathr...,210 Brighton 15th St,"['Dining Room', 'Elevator', 'Pre-War', 'Laundr...",40.5765,6927093,-73.9554,a10db4590843d78c784171a107bdacb4,['https://photos.renthop.com/2/6927093_93a5210...,1850,210 Brighton 15th St,medium,Brooklyn
49226,49350,124008,1.0,2,3c0574a740154806c18bdf1fddd3d966,2016-04-19 02:47:33,Wonderful Bright Chelsea 2 Bedroom apartment o...,West 21st Street,"['Pre-War', 'Laundry in Unit', 'Dishwasher', '...",40.7448,6892816,-74.0017,c3cd45f4381ac371507090e9ffabea80,['https://photos.renthop.com/2/6892816_1a8d087...,4195,350 West 21st Street,medium,Manhattan

In [56]:
gu = pd.read_csv('gu.csv')
gu

,Unnamed: 0,index,bathrooms,bedrooms,building_id,created,description,display_address,features,latitude,listing_id,longitude,manager_id,photos,price,street_address,interest_level,street_code,building_code,manager_code
0,0,4,1.0,1,8579a0b0d54db803821a35a4a615e97a,2016-06-16 05:55:27,Spacious 1 Bedroom 1 Bathroom in Williamsburg!...,145 Borinquen Place,"['Dining Room', 'Pre-War', 'Laundry in Buildin...",40.7108,7170325,-73.9539,a10db4590843d78c784171a107bdacb4,['https://photos.renthop.com/2/7170325_3bb5ac8...,2400,145 Borinquen Place,medium,5,5,112
1,1,6,1.0,2,b8e75fc949a6cd8225b455648a951712,2016-06-01 05:44:33,BRAND NEW GUT RENOVATED TRUE 2 BEDROOMFind you...,East 44th,"['Doorman', 'Elevator', 'Laundry in Building',...",40.7513,7092344,-73.9722,955db33477af4f40004820b4aed804a0,['https://photos.renthop.com/2/7092344_7663c19...,3800,230 East 44th,low,7,51,26
2,2,9,1.0,2,cd759a988b8f23924b5a2058d5ab2b49,2016-06-14 15:19:59,**FLEX 2 BEDROOM WITH FULL PRESSURIZED WALL**L...,East 56th Street,"['Doorman', 'Elevator', 'Laundry in Building',...",40.7575,7158677,-73.9625,c8b10a317b766204f08e613cef4ce7a0,['https://photos.renthop.com/2/7158677_c897a13...,3495,405 East 56th Street,medium,39,71,93
3,3,10,1.5,3,53a5b119ba8f7b61d4e010512e0dfc85,2016-06-24 07:54:24,A Brand New 3 Bedroom 1.5 bath ApartmentEnjoy ...,Metropolitan Avenue,[],40.7145,7211212,-73.9425,5ba989232d0489da1b5f2c45f6688adc,['https://photos.renthop.com/2/7211212_1ed4542...,3000,792 Metropolitan Avenue,medium,3,3,90
4,4,15,1.0,0,bfb9405149bfff42a92980b594c28234,2016-06-28 03:50:23,Over-sized Studio w abundant closets. Availabl...,East 34th Street,"['Doorman', 'Elevator', 'Fitness Center', 'Lau...",40.7439,7225292,-73.9743,2c3b41f588fbb5234d8a1e885a436cfa,['https://photos.renthop.com/2/7225292_901f198...,2795,340 East 34th Street,low,38,86,55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49347,49347,124000,1.0,3,92bbbf38baadfde0576fc496bd41749c,2016-04-05 03:58:33,There is 700 square feet of recently renovated...,W 171 Street,"['Elevator', 'Dishwasher', 'Hardwood Floors']",40.8433,6824800,-73.9396,a61e21da3ba18c7a3d54cfdcc247e1f8,['https://photos.renthop.com/2/6824800_0682be1...,2800,620 W 171 Street,low,5,5,10
49348,49348,124002,1.0,2,5565db9b7cba3603834c4aa6f2950960,2016-04-02 02:25:31,"2 bedroom apartment with updated kitchen, rece...",Broadway,"['Common Outdoor Space', 'Cats Allowed', 'Dogs...",40.8198,6813268,-73.9578,8f90e5e10e8a2d7cf997f016d89230eb,['https://photos.renthop.com/2/6813268_1e6fcc3...,2395,3333 Broadway,medium,174,126,14
49349,49349,124004,1.0,1,67997a128056ee1ed7d046bbb856e3c7,2016-04-26 05:42:03,No Brokers Fee * Never Lived 1 Bedroom 1 Bathr...,210 Brighton 15th St,"['Dining Room', 'Elevator', 'Pre-War', 'Laundr...",40.5765,6927093,-73.9554,a10db4590843d78c784171a107bdacb4,['https://photos.renthop.com/2/6927093_93a5210...,1850,210 Brighton 15th St,medium,2,6,112
49350,49350,124008,1.0,2,3c0574a740154806c18bdf1fddd3d966,2016-04-19 02:47:33,Wonderful Bright Chelsea 2 Bedroom apartment o...,West 21st Street,"['Pre-War', 'Laundry in Unit', 'Dishwasher', '...",40.7448,6892816,-74.0017,c3cd45f4381ac371507090e9ffabea80,['https://photos.renthop.com/2/6892816_1a8d087...,4195,350 West 21st Street,medium,6,12,33
49351,49351,124009,1.0,3,d89f514c3ed0abaae52cba7017ac0701,2016-04-20 05:34:00,***PRIME MIDTOWN EAST OFF PARK AVE***TRUE 3 BE...,E 54th St,"['Dining Room', 'Elevator', 'Laundry in Buildi...",40.7594,6901023,-73.9712,e90f2ded843cdb2efd65ef47d9fc8029,['https://photos.renthop.com/2/6901023_02052d9...,4280,123 E 54th St,high,4,50,102

In [57]:
eno2 = eno[['Unnamed: 0','month']]
pd1 = pd.merge(eno2,gu,on='Unnamed: 0')
pd1

,Unnamed: 0,month,index,bathrooms,bedrooms,building_id,created,description,display_address,features,...,listing_id,longitude,manager_id,photos,price,street_address,interest_level,street_code,building_code,manager_code
0,0,6,4,1.0,1,8579a0b0d54db803821a35a4a615e97a,2016-06-16 05:55:27,Spacious 1 Bedroom 1 Bathroom in Williamsburg!...,145 Borinquen Place,"['Dining Room', 'Pre-War', 'Laundry in Buildin...",...,7170325,-73.9539,a10db4590843d78c784171a107bdacb4,['https://photos.renthop.com/2/7170325_3bb5ac8...,2400,145 Borinquen Place,medium,5,5,112
1,1,6,6,1.0,2,b8e75fc949a6cd8225b455648a951712,2016-06-01 05:44:33,BRAND NEW GUT RENOVATED TRUE 2 BEDROOMFind you...,East 44th,"['Doorman', 'Elevator', 'Laundry in Building',...",...,7092344,-73.9722,955db33477af4f40004820b4aed804a0,['https://photos.renthop.com/2/7092344_7663c19...,3800,230 East 44th,low,7,51,26
2,2,6,9,1.0,2,cd759a988b8f23924b5a2058d5ab2b49,2016-06-14 15:19:59,**FLEX 2 BEDROOM WITH FULL PRESSURIZED WALL**L...,East 56th Street,"['Doorman', 'Elevator', 'Laundry in Building',...",...,7158677,-73.9625,c8b10a317b766204f08e613cef4ce7a0,['https://photos.renthop.com/2/7158677_c897a13...,3495,405 East 56th Street,medium,39,71,93
3,3,6,10,1.5,3,53a5b119ba8f7b61d4e010512e0dfc85,2016-06-24 07:54:24,A Brand New 3 Bedroom 1.5 bath ApartmentEnjoy ...,Metropolitan Avenue,[],...,7211212,-73.9425,5ba989232d0489da1b5f2c45f6688adc,['https://photos.renthop.com/2/7211212_1ed4542...,3000,792 Metropolitan Avenue,medium,3,3,90
4,4,6,15,1.0,0,bfb9405149bfff42a92980b594c28234,2016-06-28 03:50:23,Over-sized Studio w abundant closets. Availabl...,East 34th Street,"['Doorman', 'Elevator', 'Fitness Center', 'Lau...",...,7225292,-73.9743,2c3b41f588fbb5234d8a1e885a436cfa,['https://photos.renthop.com/2/7225292_901f198...,2795,340 East 34th Street,low,38,86,55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49347,49347,4,124000,1.0,3,92bbbf38baadfde0576fc496bd41749c,2016-04-05 03:58:33,There is 700 square feet of recently renovated...,W 171 Street,"['Elevator', 'Dishwasher', 'Hardwood Floors']",...,6824800,-73.9396,a61e21da3ba18c7a3d54cfdcc247e1f8,['https://photos.renthop.com/2/6824800_0682be1...,2800,620 W 171 Street,low,5,5,10
49348,49348,4,124002,1.0,2,5565db9b7cba3603834c4aa6f2950960,2016-04-02 02:25:31,"2 bedroom apartment with updated kitchen, rece...",Broadway,"['Common Outdoor Space', 'Cats Allowed', 'Dogs...",...,6813268,-73.9578,8f90e5e10e8a2d7cf997f016d89230eb,['https://photos.renthop.com/2/6813268_1e6fcc3...,2395,3333 Broadway,medium,174,126,14
49349,49349,4,124004,1.0,1,67997a128056ee1ed7d046bbb856e3c7,2016-04-26 05:42:03,No Brokers Fee * Never Lived 1 Bedroom 1 Bathr...,210 Brighton 15th St,"['Dining Room', 'Elevator', 'Pre-War', 'Laundr...",...,6927093,-73.9554,a10db4590843d78c784171a107bdacb4,['https://photos.renthop.com/2/6927093_93a5210...,1850,210 Brighton 15th St,medium,2,6,112
49350,49350,4,124008,1.0,2,3c0574a740154806c18bdf1fddd3d966,2016-04-19 02:47:33,Wonderful Bright Chelsea 2 Bedroom apartment o...,West 21st Street,"['Pre-War', 'Laundry in Unit', 'Dishwasher', '...",...,6892816,-74.0017,c3cd45f4381ac371507090e9ffabea80,['https://photos.renthop.com/2/6892816_1a8d087...,4195,350 West 21st Street,medium,6,12,33
49351,49351,4,124009,1.0,3,d89f514c3ed0abaae52cba7017ac0701,2016-04-20 05:34:00,***PRIME MIDTOWN EAST OFF PARK AVE***TRUE 3 BE...,E 54th St,"['Dining Room', 'Elevator', 'Laundry in Buildi...",...,6901023,-73.9712,e90f2ded843cdb2efd65ef47d9fc8029,['https://photos.renthop.com/2/6901023_02052d9...,4280,123 E 54th St,high,4,50,102

In [58]:
yu2 = yu[['Unnamed: 0','block']]
yu2

       Unnamed: 0      block
0               0   Brooklyn
1               1  Manhattan
2               2  Manhattan
3               3   Brooklyn
4               4  Manhattan
...           ...        ...
49222       49346  Manhattan
49223       49347  Manhattan
49224       49348  Manhattan
49225       49349   Brooklyn
49226       49350  Manhattan

[49227 rows x 2 columns]

In [59]:
pd2 = pd.merge(yu2,pd1,on='Unnamed: 0')
pd2

,Unnamed: 0,block,month,index,bathrooms,bedrooms,building_id,created,description,display_address,...,listing_id,longitude,manager_id,photos,price,street_address,interest_level,street_code,building_code,manager_code
0,0,Brooklyn,6,4,1.0,1,8579a0b0d54db803821a35a4a615e97a,2016-06-16 05:55:27,Spacious 1 Bedroom 1 Bathroom in Williamsburg!...,145 Borinquen Place,...,7170325,-73.9539,a10db4590843d78c784171a107bdacb4,['https://photos.renthop.com/2/7170325_3bb5ac8...,2400,145 Borinquen Place,medium,5,5,112
1,1,Manhattan,6,6,1.0,2,b8e75fc949a6cd8225b455648a951712,2016-06-01 05:44:33,BRAND NEW GUT RENOVATED TRUE 2 BEDROOMFind you...,East 44th,...,7092344,-73.9722,955db33477af4f40004820b4aed804a0,['https://photos.renthop.com/2/7092344_7663c19...,3800,230 East 44th,low,7,51,26
2,2,Manhattan,6,9,1.0,2,cd759a988b8f23924b5a2058d5ab2b49,2016-06-14 15:19:59,**FLEX 2 BEDROOM WITH FULL PRESSURIZED WALL**L...,East 56th Street,...,7158677,-73.9625,c8b10a317b766204f08e613cef4ce7a0,['https://photos.renthop.com/2/7158677_c897a13...,3495,405 East 56th Street,medium,39,71,93
3,3,Brooklyn,6,10,1.5,3,53a5b119ba8f7b61d4e010512e0dfc85,2016-06-24 07:54:24,A Brand New 3 Bedroom 1.5 bath ApartmentEnjoy ...,Metropolitan Avenue,...,7211212,-73.9425,5ba989232d0489da1b5f2c45f6688adc,['https://photos.renthop.com/2/7211212_1ed4542...,3000,792 Metropolitan Avenue,medium,3,3,90
4,4,Manhattan,6,15,1.0,0,bfb9405149bfff42a92980b594c28234,2016-06-28 03:50:23,Over-sized Studio w abundant closets. Availabl...,East 34th Street,...,7225292,-73.9743,2c3b41f588fbb5234d8a1e885a436cfa,['https://photos.renthop.com/2/7225292_901f198...,2795,340 East 34th Street,low,38,86,55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49222,49346,Manhattan,4,123998,1.0,0,0,2016-04-02 01:29:32,This studio apartment is located in Hell's Kit...,West 49th Street,...,6812513,-73.9917,8b53ccf4338806ab1be3dd0267711649,['https://photos.renthop.com/2/6812513_ff385b2...,2175,465 West 49th Street,low,2,8286,222
49223,49347,Manhattan,4,124000,1.0,3,92bbbf38baadfde0576fc496bd41749c,2016-04-05 03:58:33,There is 700 square feet of recently renovated...,W 171 Street,...,6824800,-73.9396,a61e21da3ba18c7a3d54cfdcc247e1f8,['https://photos.renthop.com/2/6824800_0682be1...,2800,620 W 171 Street,low,5,5,10
49224,49348,Manhattan,4,124002,1.0,2,5565db9b7cba3603834c4aa6f2950960,2016-04-02 02:25:31,"2 bedroom apartment with updated kitchen, rece...",Broadway,...,6813268,-73.9578,8f90e5e10e8a2d7cf997f016d89230eb,['https://photos.renthop.com/2/6813268_1e6fcc3...,2395,3333 Broadway,medium,174,126,14
49225,49349,Brooklyn,4,124004,1.0,1,67997a128056ee1ed7d046bbb856e3c7,2016-04-26 05:42:03,No Brokers Fee * Never Lived 1 Bedroom 1 Bathr...,210 Brighton 15th St,...,6927093,-73.9554,a10db4590843d78c784171a107bdacb4,['https://photos.renthop.com/2/6927093_93a5210...,1850,210 Brighton 15th St,medium,2,6,112
49226,49350,Manhattan,4,124008,1.0,2,3c0574a740154806c18bdf1fddd3d966,2016-04-19 02:47:33,Wonderful Bright Chelsea 2 Bedroom apartment o...,West 21st Street,...,6892816,-74.0017,c3cd45f4381ac371507090e9ffabea80,['https://photos.renthop.com/2/6892816_1a8d087...,4195,350 West 21st Street,medium,6,12,33

In [61]:
tiao = pd.read_csv('Features-sparse matrix.csv')
tiao

,Unnamed: 0,!!!!LOW FEE!!!!,$1000. Move-in Visa Giftcard will be handed to new tenants upon rental lease signing,$1500. Move-in Visa Giftcard will be handed to new tenants upon rental lease signing,$250 Security Deposit,$250 application fee with background and credit check. Board interview and approval.,$500 Security Deposit,$600 gift card for Move-ins prior to June 19,& ATM machine on-site,* MARVELOUS MIDTOWN GEM * SPACIOUS SUNDRENCHED STUDIO * STUNNING PREWAR DETAILS * CATS OK **,...,washer and dryer in the unit,washer dryer,water feature,water filtration system,water view,well-maintained,windowed kitchen,wine cooler.,Subway,• On-site lifestyle concierge by Luxury Attaché •24/7 Doorman • State of the art cardiovascular and weight training equipment • 24-hour valet parking garage • Valet services including dry cleaning
0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49347,49347,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49348,49348,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49349,49349,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49350,49350,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49351,49351,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [62]:
pd3 = pd.merge(pd2,tiao,on='Unnamed: 0')
pd3

,Unnamed: 0,block,month,index,bathrooms,bedrooms,building_id,created,description,display_address,...,washer and dryer in the unit,washer dryer,water feature,water filtration system,water view,well-maintained,windowed kitchen,wine cooler.,Subway,• On-site lifestyle concierge by Luxury Attaché •24/7 Doorman • State of the art cardiovascular and weight training equipment • 24-hour valet parking garage • Valet services including dry cleaning
0,0,Brooklyn,6,4,1.0,1,8579a0b0d54db803821a35a4a615e97a,2016-06-16 05:55:27,Spacious 1 Bedroom 1 Bathroom in Williamsburg!...,145 Borinquen Place,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,Manhattan,6,6,1.0,2,b8e75fc949a6cd8225b455648a951712,2016-06-01 05:44:33,BRAND NEW GUT RENOVATED TRUE 2 BEDROOMFind you...,East 44th,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,Manhattan,6,9,1.0,2,cd759a988b8f23924b5a2058d5ab2b49,2016-06-14 15:19:59,**FLEX 2 BEDROOM WITH FULL PRESSURIZED WALL**L...,East 56th Street,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,Brooklyn,6,10,1.5,3,53a5b119ba8f7b61d4e010512e0dfc85,2016-06-24 07:54:24,A Brand New 3 Bedroom 1.5 bath ApartmentEnjoy ...,Metropolitan Avenue,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,Manhattan,6,15,1.0,0,bfb9405149bfff42a92980b594c28234,2016-06-28 03:50:23,Over-sized Studio w abundant closets. Availabl...,East 34th Street,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49222,49346,Manhattan,4,123998,1.0,0,0,2016-04-02 01:29:32,This studio apartment is located in Hell's Kit...,West 49th Street,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49223,49347,Manhattan,4,124000,1.0,3,92bbbf38baadfde0576fc496bd41749c,2016-04-05 03:58:33,There is 700 square feet of recently renovated...,W 171 Street,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49224,49348,Manhattan,4,124002,1.0,2,5565db9b7cba3603834c4aa6f2950960,2016-04-02 02:25:31,"2 bedroom apartment with updated kitchen, rece...",Broadway,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49225,49349,Brooklyn,4,124004,1.0,1,67997a128056ee1ed7d046bbb856e3c7,2016-04-26 05:42:03,No Brokers Fee * Never Lived 1 Bedroom 1 Bathr...,210 Brighton 15th St,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49226,49350,Manhattan,4,124008,1.0,2,3c0574a740154806c18bdf1fddd3d966,2016-04-19 02:47:33,Wonderful Bright Chelsea 2 Bedroom apartment o...,West 21st Street,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [63]:
pd3

,Unnamed: 0,block,month,index,bathrooms,bedrooms,building_id,created,description,display_address,...,washer and dryer in the unit,washer dryer,water feature,water filtration system,water view,well-maintained,windowed kitchen,wine cooler.,Subway,• On-site lifestyle concierge by Luxury Attaché •24/7 Doorman • State of the art cardiovascular and weight training equipment • 24-hour valet parking garage • Valet services including dry cleaning
0,0,Brooklyn,6,4,1.0,1,8579a0b0d54db803821a35a4a615e97a,2016-06-16 05:55:27,Spacious 1 Bedroom 1 Bathroom in Williamsburg!...,145 Borinquen Place,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,Manhattan,6,6,1.0,2,b8e75fc949a6cd8225b455648a951712,2016-06-01 05:44:33,BRAND NEW GUT RENOVATED TRUE 2 BEDROOMFind you...,East 44th,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,Manhattan,6,9,1.0,2,cd759a988b8f23924b5a2058d5ab2b49,2016-06-14 15:19:59,**FLEX 2 BEDROOM WITH FULL PRESSURIZED WALL**L...,East 56th Street,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,Brooklyn,6,10,1.5,3,53a5b119ba8f7b61d4e010512e0dfc85,2016-06-24 07:54:24,A Brand New 3 Bedroom 1.5 bath ApartmentEnjoy ...,Metropolitan Avenue,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,Manhattan,6,15,1.0,0,bfb9405149bfff42a92980b594c28234,2016-06-28 03:50:23,Over-sized Studio w abundant closets. Availabl...,East 34th Street,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49222,49346,Manhattan,4,123998,1.0,0,0,2016-04-02 01:29:32,This studio apartment is located in Hell's Kit...,West 49th Street,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49223,49347,Manhattan,4,124000,1.0,3,92bbbf38baadfde0576fc496bd41749c,2016-04-05 03:58:33,There is 700 square feet of recently renovated...,W 171 Street,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49224,49348,Manhattan,4,124002,1.0,2,5565db9b7cba3603834c4aa6f2950960,2016-04-02 02:25:31,"2 bedroom apartment with updated kitchen, rece...",Broadway,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49225,49349,Brooklyn,4,124004,1.0,1,67997a128056ee1ed7d046bbb856e3c7,2016-04-26 05:42:03,No Brokers Fee * Never Lived 1 Bedroom 1 Bathr...,210 Brighton 15th St,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49226,49350,Manhattan,4,124008,1.0,2,3c0574a740154806c18bdf1fddd3d966,2016-04-19 02:47:33,Wonderful Bright Chelsea 2 Bedroom apartment o...,West 21st Street,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [64]:
pd3['label'] = 0

In [65]:
for i in range(0,len(pd3)):
    if pd3['interest_level'][i] == 'low':
        pd3['label'][i]=0
    elif pd3['interest_level'][i] == 'medium':
        pd3['label'][i]=1
    elif pd3['interest_level'][i] == 'high':
        pd3['label'][i]=2

C:\Users\gyl\.conda\envs\Week-1\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\gyl\.conda\envs\Week-1\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\gyl\.conda\envs\Week-1\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [66]:
pd3

,Unnamed: 0,block,month,index,bathrooms,bedrooms,building_id,created,description,display_address,...,washer dryer,water feature,water filtration system,water view,well-maintained,windowed kitchen,wine cooler.,Subway,• On-site lifestyle concierge by Luxury Attaché •24/7 Doorman • State of the art cardiovascular and weight training equipment • 24-hour valet parking garage • Valet services including dry cleaning,label
0,0,Brooklyn,6,4,1.0,1,8579a0b0d54db803821a35a4a615e97a,2016-06-16 05:55:27,Spacious 1 Bedroom 1 Bathroom in Williamsburg!...,145 Borinquen Place,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,1,Manhattan,6,6,1.0,2,b8e75fc949a6cd8225b455648a951712,2016-06-01 05:44:33,BRAND NEW GUT RENOVATED TRUE 2 BEDROOMFind you...,East 44th,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,2,Manhattan,6,9,1.0,2,cd759a988b8f23924b5a2058d5ab2b49,2016-06-14 15:19:59,**FLEX 2 BEDROOM WITH FULL PRESSURIZED WALL**L...,East 56th Street,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
3,3,Brooklyn,6,10,1.5,3,53a5b119ba8f7b61d4e010512e0dfc85,2016-06-24 07:54:24,A Brand New 3 Bedroom 1.5 bath ApartmentEnjoy ...,Metropolitan Avenue,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
4,4,Manhattan,6,15,1.0,0,bfb9405149bfff42a92980b594c28234,2016-06-28 03:50:23,Over-sized Studio w abundant closets. Availabl...,East 34th Street,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49222,49346,Manhattan,4,123998,1.0,0,0,2016-04-02 01:29:32,This studio apartment is located in Hell's Kit...,West 49th Street,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
49223,49347,Manhattan,4,124000,1.0,3,92bbbf38baadfde0576fc496bd41749c,2016-04-05 03:58:33,There is 700 square feet of recently renovated...,W 171 Street,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
49224,49348,Manhattan,4,124002,1.0,2,5565db9b7cba3603834c4aa6f2950960,2016-04-02 02:25:31,"2 bedroom apartment with updated kitchen, rece...",Broadway,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
49225,49349,Brooklyn,4,124004,1.0,1,67997a128056ee1ed7d046bbb856e3c7,2016-04-26 05:42:03,No Brokers Fee * Never Lived 1 Bedroom 1 Bathr...,210 Brighton 15th St,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
49226,49350,Manhattan,4,124008,1.0,2,3c0574a740154806c18bdf1fddd3d966,2016-04-19 02:47:33,Wonderful Bright Chelsea 2 Bedroom apartment o...,West 21st Street,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [67]:
del pd3['Unnamed: 0']

In [71]:
pd3['Brooklyn']=0
pd3['Manhattan']=0
pd3['Queens']=0
pd3['The Bronx']=0
pd3['Staten Island']=0

for i in range(0,len(pd3)):
    if pd3['block'][i] == 'Brooklyn':
        pd3['Brooklyn'][i]=1
    elif pd3['block'][i] == 'Manhattan':
        pd3['Manhattan'][i]=1
    elif pd3['block'][i] == 'Queens':
        pd3['Queens'][i]=1
    elif pd3['block'][i] == 'The Bronx':
        pd3['The Bronx'][i]=1
    elif pd3['block'][i] == 'Staten Island':
        pd3['Staten Island'][i]=1

C:\Users\gyl\.conda\envs\Week-1\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\gyl\.conda\envs\Week-1\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\gyl\.conda\envs\Week-1\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\gyl\.conda\envs\Week-1\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
C:\Users\gyl\.conda\envs\Week-1\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [73]:
pd3

,block,month,index,bathrooms,bedrooms,building_id,created,description,display_address,features,...,windowed kitchen,wine cooler.,Subway,• On-site lifestyle concierge by Luxury Attaché •24/7 Doorman • State of the art cardiovascular and weight training equipment • 24-hour valet parking garage • Valet services including dry cleaning,label,Brooklyn,Manhattan,Queens,The Bronx,Staten Island
0,Brooklyn,6,4,1.0,1,8579a0b0d54db803821a35a4a615e97a,2016-06-16 05:55:27,Spacious 1 Bedroom 1 Bathroom in Williamsburg!...,145 Borinquen Place,"['Dining Room', 'Pre-War', 'Laundry in Buildin...",...,0.0,0.0,0.0,0.0,1,1,0,0,0,0
1,Manhattan,6,6,1.0,2,b8e75fc949a6cd8225b455648a951712,2016-06-01 05:44:33,BRAND NEW GUT RENOVATED TRUE 2 BEDROOMFind you...,East 44th,"['Doorman', 'Elevator', 'Laundry in Building',...",...,0.0,0.0,0.0,0.0,0,0,1,0,0,0
2,Manhattan,6,9,1.0,2,cd759a988b8f23924b5a2058d5ab2b49,2016-06-14 15:19:59,**FLEX 2 BEDROOM WITH FULL PRESSURIZED WALL**L...,East 56th Street,"['Doorman', 'Elevator', 'Laundry in Building',...",...,0.0,0.0,0.0,0.0,1,0,1,0,0,0
3,Brooklyn,6,10,1.5,3,53a5b119ba8f7b61d4e010512e0dfc85,2016-06-24 07:54:24,A Brand New 3 Bedroom 1.5 bath ApartmentEnjoy ...,Metropolitan Avenue,[],...,0.0,0.0,0.0,0.0,1,1,0,0,0,0
4,Manhattan,6,15,1.0,0,bfb9405149bfff42a92980b594c28234,2016-06-28 03:50:23,Over-sized Studio w abundant closets. Availabl...,East 34th Street,"['Doorman', 'Elevator', 'Fitness Center', 'Lau...",...,0.0,0.0,0.0,0.0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49222,Manhattan,4,123998,1.0,0,0,2016-04-02 01:29:32,This studio apartment is located in Hell's Kit...,West 49th Street,"['Fireplace', 'Pre-War', 'Dogs Allowed', 'Cats...",...,0.0,0.0,0.0,0.0,0,0,1,0,0,0
49223,Manhattan,4,124000,1.0,3,92bbbf38baadfde0576fc496bd41749c,2016-04-05 03:58:33,There is 700 square feet of recently renovated...,W 171 Street,"['Elevator', 'Dishwasher', 'Hardwood Floors']",...,0.0,0.0,0.0,0.0,0,0,1,0,0,0
49224,Manhattan,4,124002,1.0,2,5565db9b7cba3603834c4aa6f2950960,2016-04-02 02:25:31,"2 bedroom apartment with updated kitchen, rece...",Broadway,"['Common Outdoor Space', 'Cats Allowed', 'Dogs...",...,0.0,0.0,0.0,0.0,1,0,1,0,0,0
49225,Brooklyn,4,124004,1.0,1,67997a128056ee1ed7d046bbb856e3c7,2016-04-26 05:42:03,No Brokers Fee * Never Lived 1 Bedroom 1 Bathr...,210 Brighton 15th St,"['Dining Room', 'Elevator', 'Pre-War', 'Laundr...",...,0.0,0.0,0.0,0.0,1,1,0,0,0,0
49226,Manhattan,4,124008,1.0,2,3c0574a740154806c18bdf1fddd3d966,2016-04-19 02:47:33,Wonderful Bright Chelsea 2 Bedroom apartment o...,West 21st Street,"['Pre-War', 'Laundry in Unit', 'Dishwasher', '...",...,0.0,0.0,0.0,0.0,1,0,1,0,0,0

In [72]:
pd3.to_csv('Integrated Version.csv')

In [69]:
a = pd.read_csv('Integrated Version.csv')
a

,Unnamed: 0,block,month,index,bathrooms,bedrooms,building_id,created,description,display_address,...,washer dryer,water feature,water filtration system,water view,well-maintained,windowed kitchen,wine cooler.,Subway,• On-site lifestyle concierge by Luxury Attaché •24/7 Doorman • State of the art cardiovascular and weight training equipment • 24-hour valet parking garage • Valet services including dry cleaning,label
0,0,Brooklyn,6,4,1.0,1,8579a0b0d54db803821a35a4a615e97a,2016-06-16 05:55:27,Spacious 1 Bedroom 1 Bathroom in Williamsburg!...,145 Borinquen Place,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,1,Manhattan,6,6,1.0,2,b8e75fc949a6cd8225b455648a951712,2016-06-01 05:44:33,BRAND NEW GUT RENOVATED TRUE 2 BEDROOMFind you...,East 44th,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,2,Manhattan,6,9,1.0,2,cd759a988b8f23924b5a2058d5ab2b49,2016-06-14 15:19:59,**FLEX 2 BEDROOM WITH FULL PRESSURIZED WALL**L...,East 56th Street,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
3,3,Brooklyn,6,10,1.5,3,53a5b119ba8f7b61d4e010512e0dfc85,2016-06-24 07:54:24,A Brand New 3 Bedroom 1.5 bath ApartmentEnjoy ...,Metropolitan Avenue,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
4,4,Manhattan,6,15,1.0,0,bfb9405149bfff42a92980b594c28234,2016-06-28 03:50:23,Over-sized Studio w abundant closets. Availabl...,East 34th Street,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49222,49222,Manhattan,4,123998,1.0,0,0,2016-04-02 01:29:32,This studio apartment is located in Hell's Kit...,West 49th Street,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
49223,49223,Manhattan,4,124000,1.0,3,92bbbf38baadfde0576fc496bd41749c,2016-04-05 03:58:33,There is 700 square feet of recently renovated...,W 171 Street,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
49224,49224,Manhattan,4,124002,1.0,2,5565db9b7cba3603834c4aa6f2950960,2016-04-02 02:25:31,"2 bedroom apartment with updated kitchen, rece...",Broadway,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
49225,49225,Brooklyn,4,124004,1.0,1,67997a128056ee1ed7d046bbb856e3c7,2016-04-26 05:42:03,No Brokers Fee * Never Lived 1 Bedroom 1 Bathr...,210 Brighton 15th St,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
49226,49226,Manhattan,4,124008,1.0,2,3c0574a740154806c18bdf1fddd3d966,2016-04-19 02:47:33,Wonderful Bright Chelsea 2 Bedroom apartment o...,West 21st Street,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [60]:
del a['Unnamed: 0']

In [61]:
a

,block,month,index,bathrooms,bedrooms,building_id,created,description,display_address,features,...,A One-of-a-Kind Full Service Luxury Highrise,** CHIC CHELSEA STEAL! * SUPER SWEET STUDIO * GOURMET CHEF'S KITCHEN * ALL MODERN & NEW * TONS OF STORAGE * PETS OK **,** THE PERFECT SHARE * SPRAWLING 3BR HOME * HI END RENOVATIONS * MR CLEAN APPROVED * ROOMY CLOSETS * G-VILLAGE BABY! **,soaking tub,all kitchen appliances included,walking distances to restaurants,direct bus line to ferry,Large Livingroom,** HEART OF THE VILLAGE! * MASSIVE 3BR SUPER SHARE * MR CLEAN APPROVED * ORNATE PREWAR DETAILS * GOURMET KITCHEN * TONS OF SUNLIGHT **,Live Work
0,Brooklyn,6,4,1.0,1,8579a0b0d54db803821a35a4a615e97a,2016-06-16 05:55:27,Spacious 1 Bedroom 1 Bathroom in Williamsburg!...,145 Borinquen Place,"['Dining Room', 'Pre-War', 'Laundry in Buildin...",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Manhattan,6,6,1.0,2,b8e75fc949a6cd8225b455648a951712,2016-06-01 05:44:33,BRAND NEW GUT RENOVATED TRUE 2 BEDROOMFind you...,East 44th,"['Doorman', 'Elevator', 'Laundry in Building',...",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Manhattan,6,9,1.0,2,cd759a988b8f23924b5a2058d5ab2b49,2016-06-14 15:19:59,**FLEX 2 BEDROOM WITH FULL PRESSURIZED WALL**L...,East 56th Street,"['Doorman', 'Elevator', 'Laundry in Building',...",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Brooklyn,6,10,1.5,3,53a5b119ba8f7b61d4e010512e0dfc85,2016-06-24 07:54:24,A Brand New 3 Bedroom 1.5 bath ApartmentEnjoy ...,Metropolitan Avenue,[],...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Manhattan,6,15,1.0,0,bfb9405149bfff42a92980b594c28234,2016-06-28 03:50:23,Over-sized Studio w abundant closets. Availabl...,East 34th Street,"['Doorman', 'Elevator', 'Fitness Center', 'Lau...",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49222,Manhattan,4,123998,1.0,0,0,2016-04-02 01:29:32,This studio apartment is located in Hell's Kit...,West 49th Street,"['Fireplace', 'Pre-War', 'Dogs Allowed', 'Cats...",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49223,Manhattan,4,124000,1.0,3,92bbbf38baadfde0576fc496bd41749c,2016-04-05 03:58:33,There is 700 square feet of recently renovated...,W 171 Street,"['Elevator', 'Dishwasher', 'Hardwood Floors']",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49224,Manhattan,4,124002,1.0,2,5565db9b7cba3603834c4aa6f2950960,2016-04-02 02:25:31,"2 bedroom apartment with updated kitchen, rece...",Broadway,"['Common Outdoor Space', 'Cats Allowed', 'Dogs...",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49225,Brooklyn,4,124004,1.0,1,67997a128056ee1ed7d046bbb856e3c7,2016-04-26 05:42:03,No Brokers Fee * Never Lived 1 Bedroom 1 Bathr...,210 Brighton 15th St,"['Dining Room', 'Elevator', 'Pre-War', 'Laundr...",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49226,Manhattan,4,124008,1.0,2,3c0574a740154806c18bdf1fddd3d966,2016-04-19 02:47:33,Wonderful Bright Chelsea 2 Bedroom apartment o...,West 21st Street,"['Pre-War', 'Laundry in Unit', 'Dishwasher', '...",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0