In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

test=pd.read_json("test.json")
train=pd.read_json("train.json")

In [2]:
train1 = train.reset_index()
train1

,index,bathrooms,bedrooms,building_id,created,description,display_address,features,latitude,listing_id,longitude,manager_id,photos,price,street_address,interest_level
0,4,1.0,1,8579a0b0d54db803821a35a4a615e97a,2016-06-16 05:55:27,Spacious 1 Bedroom 1 Bathroom in Williamsburg!...,145 Borinquen Place,"[Dining Room, Pre-War, Laundry in Building, Di...",40.7108,7170325,-73.9539,a10db4590843d78c784171a107bdacb4,[https://photos.renthop.com/2/7170325_3bb5ac84...,2400,145 Borinquen Place,medium
1,6,1.0,2,b8e75fc949a6cd8225b455648a951712,2016-06-01 05:44:33,BRAND NEW GUT RENOVATED TRUE 2 BEDROOMFind you...,East 44th,"[Doorman, Elevator, Laundry in Building, Dishw...",40.7513,7092344,-73.9722,955db33477af4f40004820b4aed804a0,[https://photos.renthop.com/2/7092344_7663c19a...,3800,230 East 44th,low
2,9,1.0,2,cd759a988b8f23924b5a2058d5ab2b49,2016-06-14 15:19:59,**FLEX 2 BEDROOM WITH FULL PRESSURIZED WALL**L...,East 56th Street,"[Doorman, Elevator, Laundry in Building, Laund...",40.7575,7158677,-73.9625,c8b10a317b766204f08e613cef4ce7a0,[https://photos.renthop.com/2/7158677_c897a134...,3495,405 East 56th Street,medium
3,10,1.5,3,53a5b119ba8f7b61d4e010512e0dfc85,2016-06-24 07:54:24,A Brand New 3 Bedroom 1.5 bath ApartmentEnjoy ...,Metropolitan Avenue,[],40.7145,7211212,-73.9425,5ba989232d0489da1b5f2c45f6688adc,[https://photos.renthop.com/2/7211212_1ed4542e...,3000,792 Metropolitan Avenue,medium
4,15,1.0,0,bfb9405149bfff42a92980b594c28234,2016-06-28 03:50:23,Over-sized Studio w abundant closets. Availabl...,East 34th Street,"[Doorman, Elevator, Fitness Center, Laundry in...",40.7439,7225292,-73.9743,2c3b41f588fbb5234d8a1e885a436cfa,[https://photos.renthop.com/2/7225292_901f1984...,2795,340 East 34th Street,low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49347,124000,1.0,3,92bbbf38baadfde0576fc496bd41749c,2016-04-05 03:58:33,There is 700 square feet of recently renovated...,W 171 Street,"[Elevator, Dishwasher, Hardwood Floors]",40.8433,6824800,-73.9396,a61e21da3ba18c7a3d54cfdcc247e1f8,[https://photos.renthop.com/2/6824800_0682be16...,2800,620 W 171 Street,low
49348,124002,1.0,2,5565db9b7cba3603834c4aa6f2950960,2016-04-02 02:25:31,"2 bedroom apartment with updated kitchen, rece...",Broadway,"[Common Outdoor Space, Cats Allowed, Dogs Allo...",40.8198,6813268,-73.9578,8f90e5e10e8a2d7cf997f016d89230eb,[https://photos.renthop.com/2/6813268_1e6fcc32...,2395,3333 Broadway,medium
49349,124004,1.0,1,67997a128056ee1ed7d046bbb856e3c7,2016-04-26 05:42:03,No Brokers Fee * Never Lived 1 Bedroom 1 Bathr...,210 Brighton 15th St,"[Dining Room, Elevator, Pre-War, Laundry in Bu...",40.5765,6927093,-73.9554,a10db4590843d78c784171a107bdacb4,[https://photos.renthop.com/2/6927093_93a52104...,1850,210 Brighton 15th St,medium
49350,124008,1.0,2,3c0574a740154806c18bdf1fddd3d966,2016-04-19 02:47:33,Wonderful Bright Chelsea 2 Bedroom apartment o...,West 21st Street,"[Pre-War, Laundry in Unit, Dishwasher, No Fee,...",40.7448,6892816,-74.0017,c3cd45f4381ac371507090e9ffabea80,[https://photos.renthop.com/2/6892816_1a8d087a...,4195,350 West 21st Street,medium
49351,124009,1.0,3,d89f514c3ed0abaae52cba7017ac0701,2016-04-20 05:34:00,***PRIME MIDTOWN EAST OFF PARK AVE***TRUE 3 BE...,E 54th St,"[Dining Room, Elevator, Laundry in Building, D...",40.7594,6901023,-73.9712,e90f2ded843cdb2efd65ef47d9fc8029,[https://photos.renthop.com/2/6901023_02052d90...,4280,123 E 54th St,high

In [3]:
train1.describe()

,index,bathrooms,bedrooms,latitude,listing_id,longitude,price
count,49352.000000,49352.00000,49352.000000,49352.000000,4.935200e+04,49352.000000,4.935200e+04
mean,62063.319724,1.21218,1.541640,40.741545,7.024055e+06,-73.955716,3.830174e+03
std,35784.341886,0.50142,1.115018,0.638535,1.262746e+05,1.177912,2.206687e+04
min,4.000000,0.00000,0.000000,0.000000,6.811957e+06,-118.271000,4.300000e+01
25%,31105.750000,1.00000,1.000000,40.728300,6.915888e+06,-73.991700,2.500000e+03
50%,62033.500000,1.00000,1.000000,40.751800,7.021070e+06,-73.977900,3.150000e+03
75%,93011.750000,1.00000,2.000000,40.774300,7.128733e+06,-73.954800,4.100000e+03
max,124009.000000,10.00000,8.000000,44.883500,7.753784e+06,0.000000,4.490000e+06

## Street Code

In [4]:
v = train1['street_address'].value_counts()
pdn = pd.DataFrame(v)
pdn.index.name = 'street_address'
pdn.rename(columns={'street_address':'street_code'},inplace = True)
pdn

                       street_code
street_address
3333 Broadway                  174
505 West 37th Street           167
200 Water Street               160
90 Washington Street           142
100 Maiden Lane                131
...                            ...
339 E 88th St.                   1
214 W 102nd Street               1
35 Rogers                        1
539 West 156th Street            1
24 West 125th Street             1

[15358 rows x 1 columns]

In [5]:
pd1 = pd.merge(train1,pdn,on='street_address')
pd1

,index,bathrooms,bedrooms,building_id,created,description,display_address,features,latitude,listing_id,longitude,manager_id,photos,price,street_address,interest_level,street_code
0,4,1.0,1,8579a0b0d54db803821a35a4a615e97a,2016-06-16 05:55:27,Spacious 1 Bedroom 1 Bathroom in Williamsburg!...,145 Borinquen Place,"[Dining Room, Pre-War, Laundry in Building, Di...",40.7108,7170325,-73.9539,a10db4590843d78c784171a107bdacb4,[https://photos.renthop.com/2/7170325_3bb5ac84...,2400,145 Borinquen Place,medium,5
1,55417,1.0,2,8579a0b0d54db803821a35a4a615e97a,2016-05-21 03:09:02,Lovely Renovated 2Bed Prewar Apt! Modern Finis...,145 Borinquen Place,"[Pre-War, Laundry in Building, Laundry in Unit...",40.7108,7047974,-73.9539,860769c49aadbc9dda267bc9a80d2eda,[https://photos.renthop.com/2/7047974_20ddbcf8...,2750,145 Borinquen Place,low,5
2,56056,1.0,1,8579a0b0d54db803821a35a4a615e97a,2016-05-25 03:09:56,Spacious 1 Bedroom 1 Bathroom in Williamsburg!...,145 Borinquen Place,"[Dining Room, Pre-War, Laundry in Building, Di...",40.7108,7063381,-73.9539,a10db4590843d78c784171a107bdacb4,[https://photos.renthop.com/2/7063381_8dd6d50c...,2400,145 Borinquen Place,low,5
3,56885,1.0,1,8579a0b0d54db803821a35a4a615e97a,2016-05-27 04:36:23,Just Renovated * Spacious 1 Bedroom 1 Bathroom...,145 Borinquen Place,"[Dining Room, Pre-War, Laundry in Building, Di...",40.7108,7075694,-73.9539,a10db4590843d78c784171a107bdacb4,[https://photos.renthop.com/2/7075694_ba8047ed...,2400,145 Borinquen Place,medium,5
4,61819,1.0,1,8579a0b0d54db803821a35a4a615e97a,2016-05-19 05:45:14,Renovated Large Sunny 1bedroom Apt with Modern...,Borinquen Place,"[Pre-War, Laundry in Building, Hardwood Floors...",40.7108,7038972,-73.9539,860769c49aadbc9dda267bc9a80d2eda,[https://photos.renthop.com/2/7038972_94f71e4e...,2400,145 Borinquen Place,medium,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49347,123927,1.0,2,0,2016-04-19 14:20:46,NO FEE!!Renovated 2 Bed/1 Bath Washer/Dryer in...,E 109TH ST AND MADISON AVE,"[Laundry In Unit, No Fee, Elevator]",40.7955,6896978,-73.9481,edd073f8dea85637f8b7d589faa7902b,[https://photos.renthop.com/2/6896978_ffa9fe88...,2695,E 109TH ST AND MADISON AVE,high,1
49348,123937,1.0,2,03a139e5f542142be2e3a769ef641066,2016-04-30 06:06:39,Spacious 2-bedroom available for immediate mov...,East 1st Street,"[Doorman, Elevator, Laundry in Unit, Dishwashe...",40.7243,6948238,-73.9912,b1b1852c416d78d7765d746cb1b8921f,[https://photos.renthop.com/2/6948238_5be7b57d...,5400,21 East 1st Street,medium,1
49349,123951,1.0,1,9140d61740d3f63abe86e43daac09275,2016-04-14 03:46:15,"Luxury 1Br 1 Bath Fantastic location, Elevator...",Columbus,"[Elevator, Fitness Center, High Speed Internet...",40.7950,6871772,-73.9659,d9039c43983f6e564b1482b273bd7b01,[https://photos.renthop.com/2/6871772_28e49f66...,3580,805 Columbus,low,1
49350,123961,1.0,1,0,2016-04-22 01:32:58,***Best Block in the City*** Brand New to the ...,West 11th Street,"[Pre-War, Dogs Allowed, Cats Allowed]",40.7359,6909668,-74.0042,cda0d536fb182dfed7cc48f0884d3203,[https://photos.renthop.com/2/6909668_7ed4319b...,3600,270 West 11th Street,low,1
49351,123964,2.0,1,bfd031026a0e3cd993ddc097213317e1,2016-04-07 05:28:52,WORKING FIREPLACE!!RENOVATED!!!LAUNDRY IN BUIL...,W 74 St.,"[Fireplace, Multi-Level, Laundry in Unit, Hard...",40.7787,6839316,-73.9785,32d5236524615bc2e4f5679ad3eac137,[https://photos.renthop.com/2/6839316_7cee91e0...,2690,110 W 74 St.,low,1

In [6]:
i = pd1['street_code'].value_counts()
j = pd.DataFrame(i)
j.index.name = 'x'
h = j.reset_index()
h.loc[h['x'] == 174]#检验

      x  street_code
44  174          174

## Building Code

In [7]:
v1 = pd1['building_id'].value_counts()
pdn1 = pd.DataFrame(v1)
pdn1.index.name = 'building_id'
pdn1.rename(columns={'building_id':'building_code'},inplace = True)
pdn1

                                  building_code
building_id
0                                          8286
96274288c84ddd7d5c5d8e425ee75027            275
11e1dec9d14b1a9e528386a2504b3afc            215
80a120d6bc3aba97f40fee8c2204524b            213
bb8658a3e432fb62a440615333376345            212
...                                         ...
1dfaa83051419a5e5090f6b02aa8631a              1
0578eeda85351daee6b9ade3ce23c250              1
870579291b25664aadb6d1de7c471650              1
70afe0a189d82207a5bc11d0b49877bf              1
fa65518f846bdfa74a3b23889a5e38c4              1

[7585 rows x 1 columns]

In [8]:
pd2 = pd.merge(pd1,pdn1,on='building_id')
pd2

,index,bathrooms,bedrooms,building_id,created,description,display_address,features,latitude,listing_id,longitude,manager_id,photos,price,street_address,interest_level,street_code,building_code
0,4,1.0,1,8579a0b0d54db803821a35a4a615e97a,2016-06-16 05:55:27,Spacious 1 Bedroom 1 Bathroom in Williamsburg!...,145 Borinquen Place,"[Dining Room, Pre-War, Laundry in Building, Di...",40.7108,7170325,-73.9539,a10db4590843d78c784171a107bdacb4,[https://photos.renthop.com/2/7170325_3bb5ac84...,2400,145 Borinquen Place,medium,5,5
1,55417,1.0,2,8579a0b0d54db803821a35a4a615e97a,2016-05-21 03:09:02,Lovely Renovated 2Bed Prewar Apt! Modern Finis...,145 Borinquen Place,"[Pre-War, Laundry in Building, Laundry in Unit...",40.7108,7047974,-73.9539,860769c49aadbc9dda267bc9a80d2eda,[https://photos.renthop.com/2/7047974_20ddbcf8...,2750,145 Borinquen Place,low,5,5
2,56056,1.0,1,8579a0b0d54db803821a35a4a615e97a,2016-05-25 03:09:56,Spacious 1 Bedroom 1 Bathroom in Williamsburg!...,145 Borinquen Place,"[Dining Room, Pre-War, Laundry in Building, Di...",40.7108,7063381,-73.9539,a10db4590843d78c784171a107bdacb4,[https://photos.renthop.com/2/7063381_8dd6d50c...,2400,145 Borinquen Place,low,5,5
3,56885,1.0,1,8579a0b0d54db803821a35a4a615e97a,2016-05-27 04:36:23,Just Renovated * Spacious 1 Bedroom 1 Bathroom...,145 Borinquen Place,"[Dining Room, Pre-War, Laundry in Building, Di...",40.7108,7075694,-73.9539,a10db4590843d78c784171a107bdacb4,[https://photos.renthop.com/2/7075694_ba8047ed...,2400,145 Borinquen Place,medium,5,5
4,61819,1.0,1,8579a0b0d54db803821a35a4a615e97a,2016-05-19 05:45:14,Renovated Large Sunny 1bedroom Apt with Modern...,Borinquen Place,"[Pre-War, Laundry in Building, Hardwood Floors...",40.7108,7038972,-73.9539,860769c49aadbc9dda267bc9a80d2eda,[https://photos.renthop.com/2/7038972_94f71e4e...,2400,145 Borinquen Place,medium,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49347,123825,2.0,2,b56e2de19e364c002b7f9f2f32dccbd7,2016-04-15 02:29:50,"We invite you to view this lovely two bedroom,...",West 111th Street,"[Garden/Patio, Outdoor Space, Dogs Allowed, Ca...",40.8018,6875551,-73.9584,67e44fa2e8fb27dde02234683a7c8da4,[https://photos.renthop.com/2/6875551_73f77983...,4000,309 West 111th Street,low,1,1
49348,123833,1.5,3,8822ff79101bde65a4bdbd51e9a3d607,2016-04-16 04:26:07,A Must See!!<br />BEST DEAL in BedStuy...,174 Kosciuszko Street,[],40.6910,6883407,-73.9483,d5d246c9d9d4e7079e5a0fc962d2f1a7,[https://photos.renthop.com/2/6883407_7a0b40ce...,2750,174 kosciuszko street,low,1,1
49349,123837,1.0,2,ff2466b50f216544b84a6a6fb28c0ece,2016-04-14 04:52:35,,Wadsworth Avenue,"[Elevator, Cats Allowed, Dogs Allowed]",40.8490,6872629,-73.9357,b3b0b74121c084554721cc2a60696eea,[https://photos.renthop.com/2/6872629_80a89663...,2495,130 Wadsworth Avenue,low,1,1
49350,123840,1.0,0,a719840a658a0358ff508e4cb7d016f0,2016-04-04 12:18:28,(I am avail via text 24/7 @ 151-024-5907 for a...,104th & Madison Avenue,[],40.7928,6822174,-73.9504,614d589dc9b706652ebc2f86d31e19ba,[https://photos.renthop.com/2/6822174_5962a737...,1500,1546 Madison Avenue #3A,medium,1,1
49351,123892,1.0,2,e125ca74a8353517f1c9dcc43fed068b,2016-04-08 12:11:28,"Bright and sunny, this large duplex townhouse ...",312 Pacific Street,"[Laundry In Unit, Cats Allowed, Private Outdoo...",40.6875,6845539,-73.9884,9ce6710437d64a10cbd520108a56a421,[https://photos.renthop.com/2/6845539_02b04013...,5500,312 Pacific Street,low,1,1

## Manager Code

In [9]:
v2 = pd2['manager_id'].value_counts()
pdn2 = pd.DataFrame(v2)
pdn2.index.name = 'manager_id'
pdn2.rename(columns={'manager_id':'manager_code'},inplace = True)
pdn2

                                  manager_code
manager_id
e6472c7237327dd3903b3d6f6a94515a          2533
6e5c10246156ae5bdcd9b487ca99d96a           711
8f5a9c893f6d602f4953fcc0b8e6e9b4           410
62b685cc0d876c3a1a51d63a0d6a8082           402
cb87dadbca78fad02b388dc9e8f25a5b           373
...                                        ...
1371131380ae3e91b3390a8e45139646             1
355d7a82f95dca3cbba1a8d16293798e             1
3c383bb160a728c3694a7931e55fd378             1
8feed9fdc59f35cb4e9fc881a191c645             1
5a92cb2f63d5879d0991c172e0745d60             1

[3481 rows x 1 columns]

In [10]:
pd3 = pd.merge(pd2,pdn2,on='manager_id')
pd3.sort_values(by='index',ascending=True, inplace=True)
pd3 = pd3.reset_index(drop=True)
pd3

,index,bathrooms,bedrooms,building_id,created,description,display_address,features,latitude,listing_id,longitude,manager_id,photos,price,street_address,interest_level,street_code,building_code,manager_code
0,4,1.0,1,8579a0b0d54db803821a35a4a615e97a,2016-06-16 05:55:27,Spacious 1 Bedroom 1 Bathroom in Williamsburg!...,145 Borinquen Place,"[Dining Room, Pre-War, Laundry in Building, Di...",40.7108,7170325,-73.9539,a10db4590843d78c784171a107bdacb4,[https://photos.renthop.com/2/7170325_3bb5ac84...,2400,145 Borinquen Place,medium,5,5,112
1,6,1.0,2,b8e75fc949a6cd8225b455648a951712,2016-06-01 05:44:33,BRAND NEW GUT RENOVATED TRUE 2 BEDROOMFind you...,East 44th,"[Doorman, Elevator, Laundry in Building, Dishw...",40.7513,7092344,-73.9722,955db33477af4f40004820b4aed804a0,[https://photos.renthop.com/2/7092344_7663c19a...,3800,230 East 44th,low,7,51,26
2,9,1.0,2,cd759a988b8f23924b5a2058d5ab2b49,2016-06-14 15:19:59,**FLEX 2 BEDROOM WITH FULL PRESSURIZED WALL**L...,East 56th Street,"[Doorman, Elevator, Laundry in Building, Laund...",40.7575,7158677,-73.9625,c8b10a317b766204f08e613cef4ce7a0,[https://photos.renthop.com/2/7158677_c897a134...,3495,405 East 56th Street,medium,39,71,93
3,10,1.5,3,53a5b119ba8f7b61d4e010512e0dfc85,2016-06-24 07:54:24,A Brand New 3 Bedroom 1.5 bath ApartmentEnjoy ...,Metropolitan Avenue,[],40.7145,7211212,-73.9425,5ba989232d0489da1b5f2c45f6688adc,[https://photos.renthop.com/2/7211212_1ed4542e...,3000,792 Metropolitan Avenue,medium,3,3,90
4,15,1.0,0,bfb9405149bfff42a92980b594c28234,2016-06-28 03:50:23,Over-sized Studio w abundant closets. Availabl...,East 34th Street,"[Doorman, Elevator, Fitness Center, Laundry in...",40.7439,7225292,-73.9743,2c3b41f588fbb5234d8a1e885a436cfa,[https://photos.renthop.com/2/7225292_901f1984...,2795,340 East 34th Street,low,38,86,55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49347,124000,1.0,3,92bbbf38baadfde0576fc496bd41749c,2016-04-05 03:58:33,There is 700 square feet of recently renovated...,W 171 Street,"[Elevator, Dishwasher, Hardwood Floors]",40.8433,6824800,-73.9396,a61e21da3ba18c7a3d54cfdcc247e1f8,[https://photos.renthop.com/2/6824800_0682be16...,2800,620 W 171 Street,low,5,5,10
49348,124002,1.0,2,5565db9b7cba3603834c4aa6f2950960,2016-04-02 02:25:31,"2 bedroom apartment with updated kitchen, rece...",Broadway,"[Common Outdoor Space, Cats Allowed, Dogs Allo...",40.8198,6813268,-73.9578,8f90e5e10e8a2d7cf997f016d89230eb,[https://photos.renthop.com/2/6813268_1e6fcc32...,2395,3333 Broadway,medium,174,126,14
49349,124004,1.0,1,67997a128056ee1ed7d046bbb856e3c7,2016-04-26 05:42:03,No Brokers Fee * Never Lived 1 Bedroom 1 Bathr...,210 Brighton 15th St,"[Dining Room, Elevator, Pre-War, Laundry in Bu...",40.5765,6927093,-73.9554,a10db4590843d78c784171a107bdacb4,[https://photos.renthop.com/2/6927093_93a52104...,1850,210 Brighton 15th St,medium,2,6,112
49350,124008,1.0,2,3c0574a740154806c18bdf1fddd3d966,2016-04-19 02:47:33,Wonderful Bright Chelsea 2 Bedroom apartment o...,West 21st Street,"[Pre-War, Laundry in Unit, Dishwasher, No Fee,...",40.7448,6892816,-74.0017,c3cd45f4381ac371507090e9ffabea80,[https://photos.renthop.com/2/6892816_1a8d087a...,4195,350 West 21st Street,medium,6,12,33
49351,124009,1.0,3,d89f514c3ed0abaae52cba7017ac0701,2016-04-20 05:34:00,***PRIME MIDTOWN EAST OFF PARK AVE***TRUE 3 BE...,E 54th St,"[Dining Room, Elevator, Laundry in Building, D...",40.7594,6901023,-73.9712,e90f2ded843cdb2efd65ef47d9fc8029,[https://photos.renthop.com/2/6901023_02052d90...,4280,123 E 54th St,high,4,50,102

In [11]:
pd3.to_csv('gu.csv')

In [ ]:
#根据连续变量处理，连续变量的数值存在欠采样和过采样问题？